<p>
    Welcome as a user at AnarQ, we have registered the following data on you.
</p>

<ol>
    <li>Username - [username]</li>
    <li>Email - [email]</li>
    <li>Full name - [full_name]</li>
    <li>Phone - [phone]</li>
    <li>Password - xxx</li>
</ol>

<p>
    Nobody from AnarQ will ever ask you for your password. Keep your password safe, and do not share it with anybody.
    If other users gains access to your password, they can impersonate you, which could result in false votes.
</p>

<p>
    You cannot vote, nor suggest cases, before you have verified your email address. And please realize that
    we might ask you to confirm your cell phone number in the future, and check your name up towards the official
    legal registers in your country, to avoid fraudulent elections.
</p>

<p>
    <strong>Why did I get this email?</strong>
    <br>
    Somebody used your email address to register at <a href="https://anarq.org">AnarQ.Org</a>. If that was not
    you, just ignore and delete this email. We will not send you additional emails in the future, unless
    you click the link below.
</p>

<p>
    <a href="[domain]/verify-email/[username]/[hash]">Please verify your email address by clicking here</a>.
</p>

<p>
    Have a nice AnarQ,
</p>

<p>
    Thomas Hansen, CEO @ AnarQ.Org
</p>
