<p>
    Takk [full_name] for at du er et aktivt medlem hos AnarQ, din Direkte Demokratiske oase
    på internett. Dette er din kvittering for at du har stemt på saken med saksnummer #[id].
    Vennligst ta vare på denne kvitteringen, siden den fungerer som en kryptografisk
    garanti og kvittering for at du har avgitt stemme på saken.
</p>

<ol>
    <li>Forrige stemme sin hash verdi - [old-hash]</li>
    <li>Din stemmes hash verdi - [new-hash]</li>
    <li>Saksnummer #[id]</li>
    <li>Din stemme - [your_vote]</li>
    <li><a href="[domain]/audit-vote/[new-hash]">Sjekk at stemmen din eksisterer og er korrekt</a></li>
</ol>

<p>
    <strong>Viktig!</strong>
    <br>
    Hvis du ikke gav denne stemmen selv, så vennligst kontakt en administrator hos AnarQ,
    siden dette kan tyde på at passordet ditt er kompromittert. I så fall, scan klienten
    din for virus hvis mulig, og skift passord umiddelbart hos AnarQ. Det kan ta noen
    minutter før stemmen din er synlig på sakens side.
</p>
