<p>
    Velkommen som bruker hos AnarQ, vi har registrert følgende informasjon om deg.
</p>

<ol>
    <li>Brukernavn - [username]</li>
    <li>Epost - [email]</li>
    <li>Fullt navn - [full_name]</li>
    <li>Telefonnummer - [phone]</li>
    <li>Passord - (skjult)</li>
</ol>

<p>
    <strong>Viktig!</strong>
    <br>
    Ingen fra AnarQ vil be deg om ditt passord.
    <br>
    Ikke gi fra deg passordet ditt til noen.
    <br>
    Hvis andre får tak i passordet ditt, kan de impersonere deg, og slik forfalske stemmer.
</p>

<p>
    Du kan ikke stemme eller åpne nye saker, før du har bekreftet epost-adressen din.
    I fremtiden kan det også hende at vi ber deg om å bekrefte telefonnummeret ditt, og sjekker opp
    navnet ditt i Folkeregisteret, for å forsikre oss om at du ikke avgir stemmer i saker hvor
    du ikke er stemmeberettiget, for slik å forhindre falske stemmer fra å bli avgitt.
    Du har kun lov til å registrere deg EN gang hos AnarQ.
</p>

<p>
    <strong>Hvorfor fikk jeg denne eposten?</strong>
    <br>
    Noen registrerte seg med din epost adresse hos AnarQ.
    <br>
    Hvis dette ikke var deg, kan du bare ignorere denne eposten, og slette den.
    <br>
    Vi vil ikke sende deg flere eposter i fremtiden, med mindre du bekrefter at det var deg
    som registrerte seg, ved å trykke på lenken under.
</p>

<p>
    <a href="[domain]/verify-email/[username]/[hash]">Bekreft epost-adressen din ved å trykke på denne lenken</a>.
</p>

<p>
    Ha et fint AnarQ :)
</p>

<p>
    Thomas Hansen, Arkitekten bak AnarQ
</p>
